.main{
    height: 100vh;
    background-color: #186323;
    display: grid;
    place-items: center;
}

.chat-container{
    width: 90%;
    background-color: #cccccc;
    height: 90vh;
    max-width: 900px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    border-radius: 5px;
}





