.chatbox{
    height: 90vh;
    background-color: #F2F8F3;
    position: relative;
}

.chatbox-top{
    height: 60px;
    background-color: #BDF5C3;
    display: flex;
    gap: 15px;
    align-items: center;
    padding-left: 40px;
}

.chatbox-top img{
    width: 40px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.chatbox-top p {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.chatbox-top span{
    font-size: 10px;
}

.chatbox-top .info-icon{
    width: 30px;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
}
.chatbox-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #DDFBE0;
}

.chatbox-bottom input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    background: transparent;
}

.chatbox-bottom input::placeholder{
    color: #686868;
}

.chatbox-bottom label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.chatbox-bottom .attach{
    width: 18px;
    margin-left: 10px;
}

.chatbox-bottom .send{
    width: 22px;
    margin-right: 10px;
    cursor: pointer;
}


/*Chat Middle Part*/

.chatbox-message{
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.chatbox-message .message-date{
    width: 60px;
    margin: 20px auto;
    padding: 3px;
    border-radius: 4px;
    background-color: rgba(104, 104, 104, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;

}

.message-date span{
    font-size: 10px;
}

.r-message div img, .s-message div img{
    width: 27px;
    border-radius: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.r-message, .s-message{
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 15px;
    padding: 0 15px;
}

.r-message{
    justify-content: start;
    flex-direction: row-reverse;
}

.r-message .msg, .s-message .msg{
    max-width: 300px;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 8px 8px 0 8px;
    margin-bottom: 20px;
    background-color: #89EC96;
}

.r-message .msg{
    border-radius: 8px 8px 8px 0 ;
}

.r-message div p, .s-message div p{
    font-size: 9px;
}

.msg-img{
    max-width: 200px;
    border-radius: 8px;
    margin-bottom: 20px;
}